  #  This is a basic workflow to help you get started with Actions
  # Referenec Link : https://github.com/ajitsing/ExpenseManager/blob/master/.github/workflows/main.yml
  name: Android Build

  on:
    push:
      branches: [ master ]
    pull_request:
      branches: [ master ]
    workflow_dispatch:

  jobs:
    lint:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout the code
          uses: actions/checkout@v2

        - name: Grant execute permission for gradlew
          run: chmod +x ./gradlew

        - name: Run Android Lint
          run: ./gradlew lintDebug

        - name: Upload html test report
          uses: actions/upload-artifact@v4
          with:
            name: lint.html
            path: app/build/reports/lint-results-debug.html

    unit-test:
      needs: [lint]
      runs-on: ubuntu-latest
      steps:
        - name: checkout the unit test code
          uses: actions/checkout@v2

        - name: Grant execute permission for gradlew
          run: chmod +x ./gradlew

        - name: Run tests
          run: ./gradlew test

        - name: upload test report
          uses: actions/upload-artifact@v4
          with:
            name: unit_test_report
            path: app/build/reports/tests/testDebugUnitTest/

    instrumentation-test:
        needs: [unit-test]
        runs-on: macos-latest
        steps:
            - name: Checkout the code
              uses: actions/checkout@v2

            - name: set up JDK 17
              uses: actions/setup-java@v3
              with:
                distribution: 'temurin'
                java-version: 17

            - name: Set up Android SDK
              uses: android-actions/setup-android@v3

            - name: Create AVD and Launch Emulator
              run: |
               echo "no" | avdmanager create avd -n test -k "system-images;android-30;google_apis;x86"
               emulator -avd test -no-window -no-audio -no-boot-anim -camera-back none -camera-front none &
      
               # Wait for emulator to boot
               timeout 5m bash -c 'until adb shell getprop sys.boot_completed | grep -m 1 "1"; do sleep 5; done;'
               adb shell settings put global window_animation_scale 0
               adb shell settings put global transition_animation_scale 0
               adb shell settings put global animator_duration_scale 0

            - name: Run espresso test
              uses: reactivecircus/android-emulator-runner@v2
              with:
                api-level: 29
                script: ./gradlew connectedCheck

            - name: Upload test report
              uses: actions/upload-artifact@v4
              with:
                name: instrumentation_test_report
                path: app/build/reports/androidTests/connected/






